name: Build and Deploy to Docker Hub

on:
  push:
    branches:
      - main

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/your-app-name:latest

      - name: Notify Jenkins
        run: |
          response=$(curl -s -w "%{http_code}" -o /dev/null -X POST "https://${{ secrets.URL }}/generic-webhook-trigger/invoke?token=${{ secrets.TOKEN }}")
          if [ $response -eq 200 ]; then
            echo "Jenkins notification sent successfully"
          else
            echo "Failed to notify Jenkins. HTTP status: $response"
            exit 1
          fi
